
    <%= form_with(model: pet, local: true, defaults: { input_html: { style: 'border-color: bisque;' } }) do |form| %>
        <% if pet.errors.any? %>
            <!--suppress ALL -->
            <div id="error_explanation">
              <h2><%= pluralize(pet.errors.count, "error") %> no permitió que se guardara esta mascota:</h2>

              <ul>
                <% pet.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= form.label :description %>
          <%= form.text_field :description, id: :pet_description %>
        </div>

        <div class="field">
          <%= form.label :address %>
          <%= form.text_field :address, id: :pet_address, input_html: { class: 'geo-input form-control' } %>

          O puedes tambien ingresar tu ubicación actual
          <button type="button" id="locateButton" onclick="getLocation()">Usar mi ubicación</button>
        </div>
        <%= form.text_field :latitude, type: 'hidden', id: :latitude %>
        <%= form.text_field :longitude, type: 'hidden', id: :longitude %>

        <div class="field">
          <%= form.label :img %>
          <%= form.file_field :img, id: :pet_img %>
        </div>

        <div id="location actions">
          <%= form.submit %>
        </div>

    <script>
        var x = $("#locateButton");
        var direccion = $('#pet_address').val();

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

          function showPosition(position) {
              if (direccion == "") {
                  $("#latitude").prop('value', position.coords.latitude);
                  $("#longitude").prop('value', position.coords.longitude);
                  getReverseGeocodingData(position.coords.latitude, position.coords.longitude)

              }
          }

        function getReverseGeocodingData(lat, lng) {
            var latlng = new google.maps.LatLng(lat, lng);
            // This is making the Geocode request
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                if (status !== google.maps.GeocoderStatus.OK) {
                    alert(status);
                }
                // This is checking to see if the Geoeode Status is OK before proceeding
                if (status == google.maps.GeocoderStatus.OK) {
                    console.log(results);
                    direccion = (results[0].formatted_address);
                    $('#pet_address').val(direccion);
                }
            });
        };

        x.onclick = function() {
            var startPos;
            var geoSuccess = function(position) {
                startPos = position;
                $("#latitude").prop('value', position.coords.latitude);
                $("#longitude").prop('value', position.coords.longitude);
                getReverseGeocodingData(position.coords.latitude, position.coords.longitude)
            };
            navigator.geolocation.getCurrentPosition(geoSuccess);
        };

    </script>



<% end %>
