<div class="container">
  <%= form_for @pet, url: pets_path, html: { multipart: true } do |form| %>
        <% if pet.errors.any? %>
            <!--suppress ALL -->
            <div id="error_explanation">
              <h2><%= pluralize(pet.errors.count, "error") %> no permitió que se guardara esta mascota:</h2>

              <ul>
                <% pet.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="form-group">
          <div class="field">
            <%= form.label "Descripcion" %>
            <%= form.text_field :description, id: :pet_description, class: 'input form-control' %>
          </div>

          <div class="field">
            <%= form.label "Dirección" %>
            <%= form.text_field :address, id: :pet_address, class: 'geo-input input form-control'  %>
            &nbsp;
            O puedes tambien ingresar tu ubicación actual
            &nbsp;
            <button type="button" class="btn btn-primary" id="locateButton">Usar mi ubicación</button>
            <div id="miniloading" style="display: none;">
              <%= image_tag("loading.gif", alt: "Loading...", size:"50x50")  %>
            </div>
          </div>
          <%= form.text_field :latitude, type: 'hidden', id: :latitude, class: 'input form-control' %>
          <%= form.text_field :longitude, type: 'hidden', id: :longitude, class: 'input form-control' %>

          <div class="field">
            <%= form.label "Imagen" %>
            <%= form.file_field :img, id: :pet_img, class: 'form-control', prompt: "Hola" %>
          </div>

          <div id="location actions" class="location">
            <%= form.submit value: "Crear mascota", class: "btn btn-success" %>
          </div>
        </div>
    <script>
        var x = $("#locateButton");
        var direccion = $('#pet_address').val();


        function getLocation()
        {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            if (direccion == "") {
                $("#latitude").prop('value', position.coords.latitude);
                $("#longitude").prop('value', position.coords.longitude);
                getReverseGeocodingData(position.coords.latitude, position.coords.longitude)

            }
        }

        function getReverseGeocodingData(lat, lng) {
            var latlng = new google.maps.LatLng(lat, lng);
            // This is making the Geocode request
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({'latLng': latlng}, function (results, status) {
                if (status !== google.maps.GeocoderStatus.OK) {
                    alert(status);
                }
                // This is checking to see if the Geoeode Status is OK before proceeding
                if (status == google.maps.GeocoderStatus.OK) {
                    console.log(results);
                    direccion = (results[0].formatted_address);
                    $('#pet_address').val(direccion);
                }
            });
        };


        var geoError = function (errorObj) {
            alert(errorObj.code + ": " + errorObj.message);

            alert("No fue posible obtener su ubicación, favor ingrese su dirección");
            $('#miniloading').hide();

        };

        var startPos;

        var geoSuccess = function (position) {
            startPos = position;
            $("#latitude").prop('value', position.coords.latitude);
            $("#longitude").prop('value', position.coords.longitude);
            getReverseGeocodingData(position.coords.latitude, position.coords.longitude)
            $('#miniloading').hide();
        };


        $("#locateButton").click(function () {
            $('#miniloading').css('display','-webkit-inline-box');
            navigator.geolocation.getCurrentPosition(geoSuccess, geoError);
        });

    </script>



<% end %>
</div>