<div class="container">
  <div class="contenido">
    <div class="resumen" >
  <%   if !notice.nil? %>
          &nbsp;
  <p id="notice"><%= notice %></p>
          &nbsp;
  <% end %>
  <p>
    <strong>Description:</strong>
    <%= @pet.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @pet.address %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= @pet.longitude %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= @pet.latitude %>
  </p>


    <p>
    <strong>Mapa:</strong>
        <div id="map_canvas" style="width:450px;height:300px;">
        <div style='width: 240px;'>
          <div id="map" style='width: 240px; height: 260px;'></div>
        </div>
      </div>
    </p>

  <%= link_to ( raw '<i class="material-icons">create</i>'), edit_pet_path(@pet) %>
  <%= link_to ( raw '<i class="material-icons">reply</i>'), pets_path %>
    </div>
  </div>
</div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
  {
  "lat": <%= @pet.latitude %>,
  "lng": <%= @pet.longitude %>,
  "picture": {
  "url": 'http://images.clipartpanda.com/google-location-icon-vector-Google_Places.png',
  "width":  180,
  "height": 170
  },
  "infowindow": "hello!"
  }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(17);
  var me = new google.maps.LatLng(<%= @pet.latitude %>, <%= @pet.longitude %>);
  handler.setMarker(me);
  });
</script>